#footer {
    color: var(--gray);
    padding: 1em 0;
    .made {
        a {
            text-decoration: none;
            color: var(--gray2);
            font-size: 1rem;
            font-weight: 700;
            margin-left: 4px;
        }
    }
    .links {
        p {
            margin: 0 10px;
        }
    }
    @media (max-width: 500px) {
        .made {
            width: 100% !important;
            display: flex;
            justify-content: center;
        }
        .links {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}